.authorization.hidden
  form
    span.login-alert ВХОД
    input(type="text" placeholder="Введите логин")
    input(type="password" placeholder="Введите пароль")
    input.login(type="submit" value="Войти")