main.product-page.branding-page.hidden
  .product-page-content
    .neuro-info
      h2 Рептильный мозг влияет на<br>потребительские решения:
      ul
        li за доли секунды выбирает или отвергает предложение;
        li ставит на первое место безопасность и свое Я;
        li видит риск в непривычном.
    .product-info
      h1 Брендинг и айдентика
      p Мы создаем бренды которые эффективно воздействуют на самую древнюю часть мозга, вызывая состояния эгоизма и одобрения, без которых человек НИКОГДА не совершит покупку.
      p Разработанная айдентика бренда повлияет на потребительское решение. Ваш клиент подсознательно воспримет продукт как что-то интересное и привлекательное, подобно ящерице желающей поймать насекомое.
      p Структура проекта: исследование рынка, позиционирование, разработка брендбука и гайдлайна.
    .product-page-img
      img.big-brain(src="img/branding-brain.png")
      img.mobile-brain(src="img/mobile-brain-branding.png")