main.product-page.marketing-page.hidden
  .product-page-content
    .neuro-info
      h2 Префронтальная кора блокирует<br>потребительские решения:
      ul
        li решает подумать, но не совершает покупку;
        li хочет купить, но не покупает то, что хочет;
        li рационально контролирует себя и свои предпочтения.
    .product-info
      h1 Стратегический маркетинг
      p Human Control построит долгосрочную стратегию маркетинговой политики вашей компании, помогая вашему клиенту видеть свое будущее вместе с вашим брендом.
      p Потребитель впускает ваш бренд и ваши продукты в свой приватный мир благодаря корректному стратегическому маркетингу.
      p Также мы выстраиваем долгосрочную схему вовлечения потребителей и налаживая систему лояльности так, чтобы человек стал реальным ценителем и приверженцем вашего бренда и продукта!
      p Структура проекта: анализ рынка и позиционирования, разработка и внедрение нейромаркетинговой коммуникационной стратегии бренда.
    .product-page-img
      img.big-brain(src="img/marketing-brain.png")
      img.mobile-brain(src="img/mobile-brain-marketing.png")