main.product-page.reengineering-page.hidden
  .product-page-content
    .neuro-info
      h2 Неокортекс изменяет:
      ul
        li примитивное приматное поведение на человеческое;
        li примитивные стремления на прогрессивные и творческие;
        li приоритеты человека в сторону исследования нового.
    .product-info
      h1 Маркетинговый реинжениринг бизнеса
      p Эксперты Human Control, опираясь на теорию и практику интегрированных брендинговых коммуникаций (ИБК), полагают, что маркетинг – это основной бизнес-процесс любого предприятия.
      p Мы предлагаем комплексную трансформацию бизнес-процессов инструментами нейромаркетинга и нейроменеджмента, которые применяются в сфере внешних (Brand-management) и внутренних коммуникаций (HR-management).
      p Бизнес будет снят с «маркетинговой иглы», когда без вложений в рекламу его доходность падает.
      p Структура проекта: исследование бизнеса, проектирование и внедрение бизнес-процессов, базирующихся на концепциях нейромаркетинга и нейроменеджмента.
    .product-page-img
      img.big-brain(src="img/reengineering-brain.png")
      img.mobile-brain(src="img/mobile-brain-reengineering.png")