extends layout

block content
  main.product-page.creative-page.hidden
    .product-page-content
      .neuro-info
        h2 Лимбическая система<br>мотивирует покупателя:
        ul
          li страстно желать приобрести что-то;
          li совершать импульсивные покупки;
          li воспринимать продукт эмоционально.
      .product-info
        h1 Креатив
        p Мы прорабатываем все контактные поверхности бренда и вносим в них креативные решения. Креатив Human Control направлен на активацию ключевых эмоций человека и возбуждение его лимбической системы.
        p Такого эффекта можно достичь разными способами, начиная от определенного цветового сочетания, заканчивая комплексными системами воздействия, например, используя запахи, мелодии, и другие инструменты в вашем рекламном сообщении.
        p Структура проекта: анализ концепции бренда, исследование маркетинговых поверхностей, нейромаркетинговое проектирование креативной концепции.
      .product-page-img
        img.big-brain(src="img/creative-brain.png")
        img.mobile-brain(src="img/mobile-brain-creative.png")

  script
    :coffee-script
      document.location.href = "humancontrol.html#creative"