doctype html
html
  head
    title HUMANCONTROL
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='icons/css/glyphicons.css') 
    link(rel='stylesheet' href='css/swiper.min.css') 

    script(src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous")
    script(src="https://api-maps.yandex.ru/2.1.8/?lang=ru_RU" type="text/javascript")
    script(type="text/javascript" src="js/swiper.jquery.min.js")
    script(type="text/javascript" src="js/app.js")
  body
    .white-screen.hidden
    img.hidden.brain-piece.brain-piece1(src="img/brain-damage/brain-piece1.png")
    img.hidden.brain-piece.brain-piece2(src="img/brain-damage/brain-piece2.png")
    img.hidden.brain-piece.brain-piece3(src="img/brain-damage/brain-piece3.png")
    img.hidden.brain-piece.brain-piece4(src="img/brain-damage/brain-piece4.png")
    img.hidden.brain-piece.brain-piece5(src="img/brain-damage/brain-piece5.png")
    img.hidden.brain-piece.brain-piece6(src="img/brain-damage/brain-piece6.png")
    img.hidden.brain-piece.brain-piece7(src="img/brain-damage/brain-piece7.png")
    img.hidden.brain-piece.brain-piece8(src="img/brain-damage/brain-piece8.png")
    img.hidden.brain-piece.brain-piece9(src="img/brain-damage/brain-piece9.png")
    img.hidden.brain-piece.brain-piece10(src="img/brain-damage/brain-piece10.png")
    header
      .header-content
        .header-logo
          a(href="http://localhost:1337/main.html")
            img(src="img/header-logo.png")
        .header-right
          .header-contacts
            a.header-mail(href="mailto:brain@humancontrol.pro")
              span.glyphicon.glyphicon-envelope
              | brain@humancontrol.pro
            a.header-phone(href="tel:+74993910104")
              span.glyphicon.glyphicon-earphone
              | +7 499 391 0104
          .mobile-menu-button
            span.glyphicon.glyphicon-menu-hamburger
    .header-menu.hidden
      ul
        li.header-menu-item.menu-main
          a(href="http://188.166.19.136:1337/main.html") Главная
          img(src="img/main-hover.png")
        li.header-menu-item.menu-branding
          a(href="http://188.166.19.136:1337/branding.html") Брендинг
          img(src="img/branding-hover.png")
        li.header-menu-item.menu-creative
          a(href="http://188.166.19.136:1337/creative.html") Креатив
          img(src="img/creative-hover.png")
        li.header-menu-item.menu-reengineering
          a(href="http://188.166.19.136:1337/reengineering.html") Реинжиниринг
          img(src="img/reengineering-hover.png")
        li.header-menu-item.menu-marketing
          a(href="http://188.166.19.136:1337/marketing.html") Маркетинг
          img(src="img/marketing-hover.png")
        li.header-menu-item.menu-team
          a(href="http://188.166.19.136:1337/team.html") Команда
          img(src="img/team-hover.png")
        li.header-menu-item.menu-contacts
          a(href="http://188.166.19.136:1337/contacts.html") Контакты
          img(src="img/contacts-hover.png")
    .mobile-menu
      ul
        li.header-menu-item.menu-main
          a(href="http://188.166.19.136:1337/main.html") Главная
          img(src="img/main-hover.png")
        li.header-menu-item.menu-branding
          a(href="http://188.166.19.136:1337/branding.html") Брендинг
          img(src="img/branding-hover.png")
        li.header-menu-item.menu-creative
          a(href="http://188.166.19.136:1337/creative.html") Креатив
          img(src="img/creative-hover.png")
        li.header-menu-item.menu-reengineering
          a(href="http://188.166.19.136:1337/reengineering.html") Реинжиниринг
          img(src="img/reengineering-hover.png")
        li.header-menu-item.menu-marketing
          a(href="http://188.166.19.136:1337/marketing.html") Маркетинг
          img(src="img/marketing-hover.png")
        li.header-menu-item.menu-team
          a(href="http://188.166.19.136:1337/team.html") Команда
          img(src="img/team-hover.png")
        li.header-menu-item.menu-contacts
          a(href="http://188.166.19.136:1337/contacts.html") Контакты
          img(src="img/contacts-hover.png")

    block content

    footer
      .footer-content
        .footer-left-slogan
          | Мозг потребителя в твоих руках!
        .footer-right-slogan
          | Разработка рекламных стратегий<br> и их реализация
