extends layout

block content
  main.main-page.hidden
    .main-page-content
      .mobile-main-page-slogan
        | ПРИМИ РЕШЕНИЕ В МОЗГУ СВОЕГО КЛИЕНТА!
      .main-page-slogan
        | ПРИМИ<br>РЕШЕНИЕ<br>В МОЗГУ<br>СВОЕГО<br>КЛИЕНТА!
      .main-page-brain-img
        img.ellipse(src="img/ellipse.png")
        .counter
          img.counter-img(src="img/counter.png")
          .counter-numbers 0:0
            span.current-count 7
        img.brain.brain-pink(src="img/brain-pink.png" usemap="#brainmap")
        map#brainmap(name="brainmap")
          area.clickable-brain-pink(shape="poly" coords="67,68,90,42,140,23,162,5,276,-2,386,-2,451,35,512,77,530,131,553,163,554,183,579,222,571,257,576,299,557,320,541,349,510,354,497,393,453,413,387,417,333,402,311,383,288,400,250,410,197,411,163,388,133,378,118,315,67,320,17,282,14,255,-4,225,3,181,15,160,22,127,41,92")
        img.brain.brain-gray.hidden(src="img/brain-gray.png")
        img.brain.hover-brain-branding.hidden(src="img/hover-brain/branding-hover.png")
        img.brain.hover-brain-creative.hidden(src="img/hover-brain/creative-hover.png")
        img.brain.hover-brain-reengineering.hidden(src="img/hover-brain/reengineering-hover.png")
        img.brain.hover-brain-marketing.hidden(src="img/hover-brain/marketing-hover.png")


  script
    :coffee-script
      document.location.href = "humancontrol.html#main"

