extends layout

block content
  main.team-page.hidden
    .team-page-content
      ul.team-list
        li.team-member
          .info
            h3.name Алексей Оревков
            .role
              p Директор проектов, управляющий собственными активами
          .photo
            img(src="img/Orevkov.png")
        li.team-member
          .info
            h3.name Максим Суслов
            .role
              p Консультант по геймификационным решениям
          .photo
            img(src="img/Suslov.png")
        li.team-member
          .info
            h3.name Евгений Седых
            .role
              p Управляющий партнер
              p Специалист в области нейро-программирования и нейро-психологии
          .photo
            img(src="img/Sedych.png")
        li.team-member
          .info
            h3.name Ярослав Авдиев
            .role
              p Партнер,<br>директор проектов
              p Консультант в области интеграции и управления бизнесом
          .photo
            img(src="img/Avdiev.png")
        li.team-member
          .info
            h3.name Ольга Пятаева
            .role
              p Руководитель проектов<br>по повышению эффективности финансовых и инвестиционных<br>бизнес-процессов
          .photo
            img(src="img/Pyataeva.png")
      .swiper-container
        .swiper-pagination
        .swiper-wrapper
          .swiper-slide.team-member
            .info
              h3.name Алексей Оревков
              .role
                p Директор проектов, управляющий собственными активами
            .photo
              img(src="img/Orevkov.png")
          .swiper-slide.team-member
            .info
              h3.name Максим Суслов
              .role
                p Консультант по геймификационным решениям
            .photo
              img(src="img/Suslov.png")
          .swiper-slide.team-member
            .info
              h3.name Евгений Седых
              .role
                p Управляющий партнер
                p Специалист в области нейро-программирования и нейро-психологии
            .photo
              img(src="img/Sedych.png")
          .swiper-slide.team-member
            .info
              h3.name Ярослав Авдиев
              .role
                p Партнер,<br>директор проектов
                p Консультант в области интеграции и управления бизнесом
            .photo
              img(src="img/Avdiev.png")
          .swiper-slide.team-member
            .info
              h3.name Ольга Пятаева
              .role
                p Руководитель проектов<br>по повышению эффективности финансовых и инвестиционных<br>бизнес-процессов
            .photo
              img(src="img/Pyataeva.png")
        .swiper-button-prev
        .swiper-button-next

  script
    :coffee-script
      document.location.href = "humancontrol.html#team"